<form [formGroup]="emailForm" (ngSubmit)="onSubmit(userform.value)">
  <p-table [columns]="colunas" [value]="lista" selectionMode="single" [(selection)]="emailSelecionado" (onRowSelect)="selectEdicao($event)" [paginator]="false" [rows]="15">
      <ng-template pTemplate="caption">
          Lista de Emails
      </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-linhaEmail let-columns="columns">
          
          <tr [pSelectableRow]="linhaEmail" >
              <td>{{linhaEmail.dsEmail}}</td>
              <td>
                   <div style="text-align:center">
                      {{(linhaEmail.stPrincipal == 'S') ? 'Sim' : ''}}
                    </div>
                </td>
                  
              <td>
                <div style="text-align:center">
                  <button type="button" pButton icon="fa fa-trash" (click)="deleta(linhaEmail)"></button>&nbsp;&nbsp;
                  <!-- <button type="button" pButton icon="fa fa-edit" (onRowSelect)="onRowSelect($event)"></button> -->
                </div>
                
              </td>
        
        
        
            </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData>
          <div style="text-align:left">
              <button type="button" pButton icon="fa fa-plus" (click)="mostaraDialogoParaAdicionar()" label="Adicionar"></button>
          </div>
      </ng-template>    
  </p-table>
  <p-dialog header="Email:" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="auto">
      <div class="ui-g ui-fluid" *ngIf="email">
          
          <div class="ui-g-12">
              <div class="ui-g-4">
                  <label for="dsEmail">E-mail(*):</label>
              </div>
              <div class="ui-g-8">
                  <input pInputText formControlName="dsEmail" name="dsEmail"  id="dsEmail" [(ngModel)]="email.dsEmail" type="email" /><br>
                  <p-message severity="error" [text]="emailForm.controls['dsEmail'].errors['required'] ? 'Campo Obrigatório' : emailForm.controls['dsEmail'].errors['email'] ? 'E-mail Inválido' : ''" 
                  *ngIf="!emailForm.controls['dsEmail'].valid&&emailForm.controls['dsEmail'].dirty"  ></p-message>
              </div>
          </div>
          <div class="ui-g-12">
              <div class="ui-g-4">
                  <label for="color">Principal(*):</label>
              </div>
              <div class="ui-g-8">
                  <p-inputSwitch formControlName="stPrincipal" [ngModel]= "retValorConvertidoStPrincipal()" (onChange)="handleChange($event)"   ></p-inputSwitch>
              </div>
          </div>
      </div>
      <p-footer>
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="button" pButton icon="fa fa-close" (click)="exclui()" label="Excluir"></button>
              <button type="button" pButton icon="fa fa-check" (click)="salva()" label="Salvar" [disabled]="!emailForm.valid" ></button>
          </div>
      </p-footer>
  </p-dialog>
  </form>