<form [formGroup]="telForm" (ngSubmit)="onSubmit(userform.value)">
<p-table [columns]="colunas" [value]="lista" selectionMode="single" [(selection)]="telefoneSelecionado" (onRowSelect)="selectEdicao($event)" [paginator]="false" [rows]="15">
    <ng-template pTemplate="caption">
        Lista de Telefones
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-linhaTel let-columns="columns">
        
        <tr [pSelectableRow]="linhaTel" >
            <td>{{linhaTel.nrDdd}}</td>
            <td>{{linhaTel.nrTelefone}}</td>
            <td>{{linhaTel.tipoTelefone.nmTipoTelefone}}</td>
            <td>
                 <div style="text-align:center">
                    {{(linhaTel.stPrincipal == 'S') ? 'Sim' : ''}}
                  </div>
              </td>
                
            <td>
              <div style="text-align:center">
                <button type="button" pButton icon="fa fa-trash" (click)="deleta(linhaTel)"></button>&nbsp;&nbsp;
                <!-- <button type="button" pButton icon="fa fa-edit" (onRowSelect)="onRowSelect($event)"></button> -->
              </div>
              
            </td>
      
      
      
          </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="mostaraDialogoParaAdicionar()" label="Adicionar"></button>
        </div>
    </ng-template>    
</p-table>
<p-dialog header="Telefone:" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="auto">
    <div class="ui-g ui-fluid" *ngIf="telefone">
        
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="vin">DDD (*):</label>
            </div>
            <div class="ui-g-8">
                <input formControlName="nrDdd" pInputText id="ddd" [(ngModel)]="telefone.nrDdd" /><br>
                <p-message severity="error" [text]="telForm.controls['nrDdd'].errors['required'] ? 'Campo Obrigatório' : telForm.controls['nrDdd'].errors['pattern'] ? 'DDD inválido' : ''" 
                *ngIf="!telForm.controls['nrDdd'].valid&&telForm.controls['nrDdd'].dirty"  ></p-message>
            </div>
            
            
        </div>
        
        
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="nrTelefone">Número Telefone(*):</label>
            </div>
            <div class="ui-g-8">
                <input pInputText formControlName="nrTelefone" name="nrTelefone"  id="nrTelefone" [(ngModel)]="telefone.nrTelefone" /><br>
                <p-message severity="error" [text]="telForm.controls['nrTelefone'].errors['required'] ? 'Campo Obrigatório' : telForm.controls['nrTelefone'].errors['minlength'] ? 'Deve ter entre 8 e 10 digitos' : telForm.controls['nrTelefone'].errors['maxlength'] ? 'Deve ter entre 8 e 10 digitos': ''" 
                *ngIf="!telForm.controls['nrTelefone'].valid&&telForm.controls['nrTelefone'].dirty"  ></p-message>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="brand">Tipo Telefone(*):</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown formControlName="tipoTelefone" [autoWidth]="false" [options]="listaDeTiposDeTelefones" [(ngModel)]="telefone.tipoTelefone" optionLabel="nmTipoTelefone"
                [filter]="true" filterBy="label,value.name"></p-dropdown>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="color">Principal(*):</label>
            </div>
            <div class="ui-g-8">
                <p-inputSwitch formControlName="stPrincipalTelefone" [ngModel]= "retValorConvertidoStPrincipal()" (onChange)="handleChange($event)"   ></p-inputSwitch>
                <!-- <p-radioButton name="principal" value="telefone.stPrincipal" [(ngModel)]="selectedValue"></p-radioButton> -->
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="exclui()" label="Excluir"></button>
            <button type="button" pButton icon="fa fa-check" (click)="salva()" label="Salvar" [disabled]="!telForm.valid" ></button>
        </div>
    </p-footer>
</p-dialog>
</form>